<!doctype html>
<html>
  <head>
    <title>How many times has Alex beaten Joe at ping pong?</title>
    <link rel="stylesheet" type="text/css" href="css/site.css">
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
